.stars {
  width: 31%;
}

.star-start {
  left: -12%;
  bottom: 13%;
}

.star-end {
  right: -12%;
  bottom: 13%;
}

.star-contact {
  left: -20%;
  width: 40%;
}

.navbar--scrolled {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s linear;
}

.to-top-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 20;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: #44434a;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: #1d1d21;
  }
}

.to-top-btn--show {
  opacity: 1;
}

@media (max-width: 576px) {
  .buttons {
    flex-direction: column;
  }

  .detail-buttons {
    text-align: center;
  }

  .details2-header {
    margin-bottom: 1.5rem;
  }

  .statement,
  .projects,
  .contact,
  .footer,
  .services {
    padding: 2rem 0 !important;
  }
}
